/* .logo{
    background-color: rgb(208, 48, 30);
    border-radius: 50px;
    border:2px solid black;
    
    
} */

/* .background{
    
    background: #fff0;
    height:70px;
    width:330px;
    border-radius: 50px;
   
  
} */

