.our-team {
    text-align: center;
    background-color: #f4f4f4; /* Light grey */
    padding: 40px 20px;
    color: #333; /* Dark grey for text */
}

.our-team h1 {
    color: #003a70; /* JSW Blue */
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.team-subheading {
    font-size: 1.2rem;
    color: #666; /* Medium grey */
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background-color: #c2cad3; 
    color: #003a70; 
    width: 250px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid #ed1c24; /* JSW Red border */
}

.team-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #003a70; 
}

.team-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ed1c24; 
}

.team-position {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666; 
}
.linkedin-link {
    font-size: 1rem;
    text-decoration: none;
    color: #003a70; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.linkedin-link:hover {
    color: #ed1c24; 
}

.linkedin-icon {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .team-card {
        width: 90%;
    }
}
